.body {
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    #search {
        width: 35%;
    }
    
    .card {
        width: 80%;
        background-color: azure;
        font-size: 20px;
        border-style: solid;
        border-color: darkred;
        box-shadow: 1px 1px 12px black;
        padding: 10%;

        #map1 {
            height: 30px;
            width: 45px;  
        }

        #map2 {
            height: 30px;
            width: 45px;
        }
    }

}